<?xml version="1.0" encoding="utf-8" ?>
<!--https://blogs.msdn.microsoft.com/rickandy/2012/08/14/adding-bundling-and-minification-to-web-forms/-->
<bundles version="1.0">
  <styleBundle path="~/Content/css">
    <include path="~/Content/bootstrap_spacelab.min.css" />
    <!--<include path="~/Content/Site.1.2.css" />-->
  </styleBundle>
</bundles>